body, html {
  background: #eeefef;
  overflow-x: hidden; }

header .hide-menu {
  float: left;
  font-size: 25px;
  color: #fff;
  font-weight: 100;
  line-height: 100%;
  margin-top: 19px;
  margin-left: 10px;
  cursor: pointer; }

.pink {
  display: none;
  color: #f2786c !important; }

.navbar-default {
  border: none;
  background: #336699; }
  .navbar-default > .container-fluid .navbar-brand {
    text-transform: uppercase;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin: 7px 15px 7px; }
  .navbar-default .navbar-form {
    position: relative;
    float: none;
    display: inline-block;
    width: 35%;
    margin-left: 112px; }
    .navbar-default .navbar-form .form-group {
      width: 100%; }
    .navbar-default .navbar-form .form-control {
      width: 100%;
      background: #1b88c1;
      border: none;
      height: 45px;
      color: #fff;
      padding-left: 40px; }
      .navbar-default .navbar-form .form-control::-webkit-input-placeholder {
        color: #fff; }
      .navbar-default .navbar-form .form-control:-moz-placeholder {
        /* FF 4-18 */
        color: #fff; }
      .navbar-default .navbar-form .form-control::-moz-placeholder {
        /* FF 19+ */
        color: #fff; }
      .navbar-default .navbar-form .form-control:-ms-input-placeholder {
        /* IE 10+ */
        color: #fff; }
  .navbar-default .btn-default {
    background: transparent;
    position: absolute;
    top: 0;
    left: 15px;
    height: 45px;
    width: auto;
    border: none;
    color: #fff; }
    .navbar-default .btn-default .fa {
      font-size: 18px; }
    .navbar-default .btn-default:active {
      color: #fff;
      box-shadow: initial; }
      .navbar-default .btn-default:active:focus {
        background-color: transparent;
        border: none; }
    .navbar-default .btn-default:focus {
      outline: none; }

.navbar-right {
  margin-right: 30px;
  margin-top: 1%; }
  .navbar-right li:first-child {
    border-right: 1px solid #fff; }
  .navbar-right a {
    color: #fff !important;
    padding: 0px 10px !important; }
  .navbar-right span {
    cursor: pointer;
    position: relative;
    top: -8px; }
    .navbar-right span img {
      width: 40px;
      height: 40px;
      border-radius: 25px; }

/*content*/
.change {
  position: relative;
  left: 70px;
  transition: all .4s ease; }

#content {
  position: relative;
  z-index: 9;
  /*main*/ }
  #content .col-md-6 {
    margin-bottom: 30px; }
  #content .post {
    background: #fff;
    padding: 0 0 10px;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 0.4); }
    #content .post .news {
      box-shadow: initial; }
  #content .col-md-12 .banner, #content .col-lg-12 .banner {
    position: relative;
    margin-top: 64px;
    margin-bottom: 30px; }
    #content .col-md-12 .banner img, #content .col-lg-12 .banner img {
      width: 100%;
      height: 100%;
      max-height: 330px; }
    #content .col-md-12 .banner p, #content .col-lg-12 .banner p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0px;
      padding: 22px 0px 20px 40px;
      text-transform: uppercase;
      font-size: 18px;
      color: #313a4c;
      background: rgba(193, 194, 203, 0.78); }
  #content .col-md-12 .main, #content .col-lg-12 .main {
    display: inline-block;
    width: 100%; }
    #content .col-md-12 .main .wrap-main, #content .col-md-12 .main .main-right, #content .col-lg-12 .main .wrap-main, #content .col-lg-12 .main .main-right {
      width: 50%;
      float: left; }
      #content .col-md-12 .main .wrap-main .col-md-6, #content .col-md-12 .main .main-right .col-md-6, #content .col-lg-12 .main .wrap-main .col-md-6, #content .col-lg-12 .main .main-right .col-md-6 {
        width: 100%; }
    #content .col-md-12 .main .wrap-main .row, #content .col-lg-12 .main .wrap-main .row {
      margin-right: 0;
      position: relative; }
    #content .col-md-12 .main .main-right .row, #content .col-lg-12 .main .main-right .row {
      margin-left: 0; }
    #content .col-md-12 .main .news, #content .col-lg-12 .main .news {
      box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.09);
      position: relative; }
      #content .col-md-12 .main .news img, #content .col-lg-12 .main .news img {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        position: absolute;
        left: 10px;
        top: 5px; }
        #content .col-md-12 .main .news img.icon-link, #content .col-lg-12 .main .news img.icon-link {
          width: 20px;
          height: 10px;
          margin-top: 9px; }
      #content .col-md-12 .main .news p, #content .col-lg-12 .main .news p {
        color: #505050;
        padding: 15px 0 15px 57px;
        margin: 0px;
        font-weight: 600; }
      #content .col-md-12 .main .news input, #content .col-lg-12 .main .news input {
        padding: 15px 0 15px 60px;
        width: 100%; }
      #content .col-md-12 .main .news span, #content .col-lg-12 .main .news span {
        width: 40px;
        height: 40px;
        border-radius: 25px;
        position: absolute;
        top: 5px;
        right: 10px;
        background: #ededed;
        cursor: pointer;
        transition: all .2s ease-in; }
        #content .col-md-12 .main .news span:hover, #content .col-lg-12 .main .news span:hover {
          background: #ababab; }
          #content .col-md-12 .main .news span:hover .fa, #content .col-lg-12 .main .news span:hover .fa {
            color: #5f5f5f; }
      #content .col-md-12 .main .news .fa, #content .col-lg-12 .main .news .fa {
        font-size: 18px;
        color: #797979;
        margin-top: 11px;
        margin-left: 11px; }
    #content .col-md-12 .main .slide, #content .col-lg-12 .main .slide {
      margin-bottom: 90px; }
      #content .col-md-12 .main .slide img, #content .col-lg-12 .main .slide img {
        width: 100%; }
    #content .col-md-12 .main .carousel-indicators, #content .col-lg-12 .main .carousel-indicators {
      width: 100%;
      margin: 0px;
      left: 0px;
      bottom: -85px; }
      #content .col-md-12 .main .carousel-indicators li, #content .col-lg-12 .main .carousel-indicators li {
        width: initial;
        height: initial;
        text-indent: initial;
        border: none;
        border-radius: 0px;
        opacity: 0.5; }
        #content .col-md-12 .main .carousel-indicators li.active, #content .col-lg-12 .main .carousel-indicators li.active {
          width: initial;
          height: initial;
          margin: 1px;
          opacity: 1; }
        #content .col-md-12 .main .carousel-indicators li img, #content .col-lg-12 .main .carousel-indicators li img {
          width: 110px;
          height: 78px; }
    #content .col-md-12 .main .more, #content .col-lg-12 .main .more {
      padding-left: 20px;
      position: relative; }
      #content .col-md-12 .main .more svg, #content .col-lg-12 .main .more svg {
        width: 21px;
        opacity: 0.5;
        margin-left: 7px; }
      #content .col-md-12 .main .more span, #content .col-lg-12 .main .more span {
        width: 35px;
        height: 35px;
        display: inline-block;
        border-radius: 20px;
        cursor: pointer; }
        #content .col-md-12 .main .more span:first-of-type, #content .col-lg-12 .main .more span:first-of-type {
          color: #f2786c;
          font-size: 30px; }
          #content .col-md-12 .main .more span:first-of-type:hover .fa:first-of-type, #content .col-lg-12 .main .more span:first-of-type:hover .fa:first-of-type {
            display: none; }
          #content .col-md-12 .main .more span:first-of-type:hover .fa:last-of-type, #content .col-lg-12 .main .more span:first-of-type:hover .fa:last-of-type {
            display: block; }
        #content .col-md-12 .main .more span:nth-of-type(2), #content .col-md-12 .main .more span:nth-of-type(3), #content .col-lg-12 .main .more span:nth-of-type(2), #content .col-lg-12 .main .more span:nth-of-type(3) {
          font-size: 21px;
          background: #e8e8e8;
          line-height: 36px;
          color: #757575;
          margin-right: 5px;
          transition: all .2s ease-in; }
          #content .col-md-12 .main .more span:nth-of-type(2) .fa, #content .col-md-12 .main .more span:nth-of-type(3) .fa, #content .col-lg-12 .main .more span:nth-of-type(2) .fa, #content .col-lg-12 .main .more span:nth-of-type(3) .fa {
            margin-left: 7px; }
          #content .col-md-12 .main .more span:nth-of-type(2):hover, #content .col-md-12 .main .more span:nth-of-type(3):hover, #content .col-lg-12 .main .more span:nth-of-type(2):hover, #content .col-lg-12 .main .more span:nth-of-type(3):hover {
            background: #ababab;
            color: #5f5f5f; }
        #content .col-md-12 .main .more span:nth-of-type(3), #content .col-lg-12 .main .more span:nth-of-type(3) {
          position: relative;
          top: 10px; }
        #content .col-md-12 .main .more span:nth-of-type(4), #content .col-lg-12 .main .more span:nth-of-type(4) {
          width: initial;
          height: initial;
          border-radius: 0px;
          padding: 3px 5px;
          background: #e8e8e8; }
          #content .col-md-12 .main .more span:nth-of-type(4):hover, #content .col-lg-12 .main .more span:nth-of-type(4):hover {
            text-decoration: underline; }
        #content .col-md-12 .main .more span:last-of-type, #content .col-lg-12 .main .more span:last-of-type {
          width: initial;
          height: initial;
          border-radius: 0px;
          position: absolute;
          top: 5px;
          right: 15px; }
          #content .col-md-12 .main .more span:last-of-type .fa, #content .col-lg-12 .main .more span:last-of-type .fa {
            font-size: 21px;
            width: 35px;
            height: 35px;
            border-radius: 20px;
            background: #e8e8e8;
            line-height: 34px;
            padding-left: 7px;
            color: #757575;
            margin-right: 5px;
            transition: all .2s ease-in; }
          #content .col-md-12 .main .more span:last-of-type:hover .fa, #content .col-lg-12 .main .more span:last-of-type:hover .fa {
            background: #ababab;
            color: #5f5f5f; }
  #content .col-md-12 .carousel-control, #content .col-lg-12 .carousel-control {
    width: 35px;
    height: 34px;
    font-size: 32px;
    line-height: 0;
    border-radius: 20px;
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
    top: 45%; }
    #content .col-md-12 .carousel-control .fa, #content .col-lg-12 .carousel-control .fa {
      line-height: 28px; }
    #content .col-md-12 .carousel-control.left, #content .col-lg-12 .carousel-control.left {
      left: 20px; }
      #content .col-md-12 .carousel-control.left .fa, #content .col-lg-12 .carousel-control.left .fa {
        margin-right: 3px; }
    #content .col-md-12 .carousel-control.right, #content .col-lg-12 .carousel-control.right {
      right: 20px;
      margin-left: 3px; }
      #content .col-md-12 .carousel-control.right .fa, #content .col-lg-12 .carousel-control.right .fa {
        margin-left: 3px; }

.load-more {
  text-align: center;
  margin-bottom: 30px; }
  .load-more .btn {
    text-transform: uppercase;
    font-weight: 500;
    background: #1b88c1;
    color: #fff;
    padding: 8px 12px; }
    .load-more .btn:active:focus {
      background: #1b88c1;
      color: #fff; }

/*end content*/
/*footer*/
footer .row {
  margin: 0px;
  background: #2a2d32; }
footer .social-icon {
  text-align: center;
  padding: 30px 0; }
  footer .social-icon a {
    width: 50px;
    height: 50px;
    border-radius: 29px;
    font-size: 25px;
    display: inline-block;
    background: #76787c;
    margin-right: 10px;
    color: #2a2d32;
    line-height: 48px;
    margin-bottom: 15px; }
footer .info {
  padding: 30px 0 10px; }
  footer .info h4 {
    text-transform: uppercase;
    color: #fff;
    margin: 0px; }
  footer .info p {
    color: #b1b1b1; }

.hooks {
  position: fixed;
  top: 64px;
  left: 0;
  padding-left: 0px;
  transition: all .3s ease; }
  .hooks .left-bar {
    padding: 30px 0px; }
  .hooks.hides {
    transition: all .3s ease; }
  .hooks .list-item a {
    position: relative;
    display: block;
    padding: 10px 0 10px 45px;
    color: #000; }
    .hooks .list-item a:hover {
      text-decoration: none; }
  .hooks .list-item .active > a {
    background: #e6e7e7;
    color: #1b88c1; }
    .hooks .list-item .active > a:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background: #336699; }
  .hooks .list-item > li {
    font-size: 15px; }
    .hooks .list-item > li ul a {
      padding-left: 65px;
      background: transparent; }
    .hooks .list-item > li a:hover {
      background: #e6e7e7;
      color: #1b88c1; }
      .hooks .list-item > li a:hover:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: #336699; }
  .hooks img {
    margin-left: 45px; }

.data {
  display: none; }

/*end footer*/
/*responsive*/
@media only screen and (min-width: 320px) {
  .navbar-right {
    text-align: center;
    margin-right: 0px; }
    .navbar-right li {
      display: inline-block; }
      .navbar-right li:last-of-type {
        display: none; }

  .navbar-default > .container-fluid .navbar-brand {
    font-size: 27px;
    margin: 7px 2px; }
  .navbar-default .btn-default {
    top: 10px; }
  .navbar-default .navbar-form {
    width: 100%;
    margin-left: 0;
    border: none;
    box-shadow: initial; }
  .navbar-default .navbar-toggle {
    border: none;
    margin-bottom: 0px; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background: transparent; }
    .navbar-default .navbar-toggle span {
      display: none; }
      .navbar-default .navbar-toggle span:last-of-type {
        display: block;
        position: relative;
        top: -5px; }
        .navbar-default .navbar-toggle span:last-of-type img {
          width: 40px;
          height: 40px;
          border-radius: 25px; }

  #content .container {
    width: 100%; }
  #content .col-md-12 .banner {
    margin-right: 5px; }
    #content .col-md-12 .banner p {
      padding: 10px 0px 5px 10px;
      font-size: 14px; }
  #content .col-md-12 .main .wrap-main, #content .col-md-12 .main .main-right {
    width: 100%;
    position: relative; }
  #content .col-md-12 .main .wrap-main .row {
    margin-left: -15px;
    margin-right: -10px; }
  #content .col-md-12 .main .main-right .row {
    margin-left: -15px;
    margin-right: -10px; }
  #content .col-md-12 .main .carousel-indicators {
    display: none; }
  #content .col-md-12 .main .slide {
    margin-bottom: 10px; }
  #content .col-md-12 .main .more {
    padding-bottom: 0px;
    text-align: center; }
    #content .col-md-12 .main .more span:nth-of-type(2) .fa, #content .col-md-12 .main .more span:nth-of-type(2) svg, #content .col-md-12 .main .more span:nth-of-type(3) .fa, #content .col-md-12 .main .more span:nth-of-type(3) svg {
      margin-left: 0; }
    #content .col-md-12 .main .more span:last-of-type {
      position: relative;
      top: initial;
      right: initial;
      width: 100%;
      margin-top: 10px; }
      #content .col-md-12 .main .more span:last-of-type .fa {
        padding-left: 0; }

  .hooks {
    width: 304px;
    z-index: 999;
    background: #eeefef;
    height: 100%; }
    .hooks .left-bar {
      overflow-y: auto;
      overflow-x: hidden;
      max-height: 100%; }
    .hooks .placeholder img {
      width: 100%;
      margin: 0px;
      max-width: 300px; }
    .hooks .list-item a {
      padding-left: 30px; }
    .hooks .list-item > li ul a {
      padding-left: 50px; }
    .hooks img {
      margin-left: 30px;
      width: 100%;
      max-width: 201px; } }
@media only screen and (min-width: 547px) {
  #content .container, footer .container {
    width: 530px; } }
@media only screen and (min-width: 768px) {
  .navbar-right {
    margin-top: 20px; }
    .navbar-right li:last-of-type {
      display: block; }

  .navbar-default .navbar-form {
    position: relative;
    float: none;
    display: inline-block;
    width: 38%;
    margin-left: 0px;
    padding: 0; }
  .navbar-default .btn-default {
    top: 0px;
    left: 0px; }
  .navbar-default > .container-fluid .navbar-brand {
    font-size: 30px;
    margin: 7px 0; }

  #content {
    /*.container{
    	width: 750px;
    }*/ }
    #content .col-md-6 {
      margin-bottom: 15px; }
    #content .col-md-12 .banner p {
      padding: 15px 0px 15px 10px;
      font-size: 22px; }
    #content .col-md-12 .main .slide {
      margin-bottom: 90px; }
    #content .col-md-12 .main .carousel-indicators {
      display: block; }
    #content .col-md-12 .main .more {
      text-align: left; }
      #content .col-md-12 .main .more span:nth-of-type(2) .fa, #content .col-md-12 .main .more span:nth-of-type(3) .fa {
        padding-left: 7px; }
      #content .col-md-12 .main .more span:nth-of-type(2) svg, #content .col-md-12 .main .more span:nth-of-type(3) svg {
        margin-left: 7px; }
      #content .col-md-12 .main .more span:last-of-type {
        width: initial;
        height: initial;
        border-radius: 0px;
        position: absolute;
        top: 5px;
        right: 15px;
        margin: 0; }
        #content .col-md-12 .main .more span:last-of-type .fa {
          padding-left: 7px; }

  .hooks {
    width: 240px; } }
@media only screen and (min-width: 992px) {
  .navbar-default > .container-fluid .navbar-brand {
    font-size: 39px;
    margin: 7px 2px; }

  #content .col-md-6 {
    margin-bottom: 30px; }
  #content .col-md-2 {
    width: 315px; }
    #content .col-md-2 .list-item a {
      padding-left: 50px; }
    #content .col-md-2 .list-item > li ul a {
      padding-left: 65px; }
    #content .col-md-2 img {
      margin-left: 50px; }
  #content .col-md-12 .main {
    /*.wrap-main,.main-right{
    	width: 50%;
    }*/ }
    #content .col-md-12 .main .more {
      padding-left: 5px; }
      #content .col-md-12 .main .more span:last-of-type {
        right: 5px;
        top: 10px; }
    #content .col-md-12 .main .carousel-indicators {
      padding-left: 10px; }
      #content .col-md-12 .main .carousel-indicators li {
        width: 24% !important;
        display: inline-block;
        float: left; }
        #content .col-md-12 .main .carousel-indicators li img {
          width: 100%; } }
@media only screen and (min-width: 1024px) {
  #content .container, footer .container {
    width: 77%; }

  #content .col-md-12 .banner p {
    padding: 15px 0px 12px 60px;
    font-size: 30px; }
  #content .col-md-12 .main .wrap-main, #content .col-md-12 .main .main-right {
    width: 100%; }
    #content .col-md-12 .main .wrap-main .col-md-6, #content .col-md-12 .main .main-right .col-md-6 {
      width: 50%; }
  #content .col-md-12 .main .wrap-main .row {
    margin-right: -10px; }
  #content .col-md-12 .main .main-right .row {
    margin-left: 0; } }
@media only screen and (min-width: 1200px) {
  .navbar-right {
    margin-top: 20px;
    margin-right: 10px; }

  .navbar-default .navbar-form {
    margin-left: 45px; }
  .navbar-default > .container-fluid .navbar-brand {
    font-size: 50px; }

  #content {
         /*
	.container{
		width: 800px;
	}*/ }
    #content .col-md-2 {
      width: 285px;
      background: transparent; }
      #content .col-md-2 .list-item a {
        padding-left: 65px; }
      #content .col-md-2 .list-item > li ul a {
        padding-left: 85px; }
      #content .col-md-2 img {
        margin-left: 60px; }
    #content .col-md-12 .banner p {
      padding: 15px 0px 12px 60px;
      font-size: 30px; }
    #content .col-md-12 .main .more {
      padding-left: 15px; }
      #content .col-md-12 .main .more span:last-of-type {
        right: 15px;
        top: 10px; }
    #content .col-md-12 .main .wrap-main .row {
      margin-left: -15px; }
    #content .col-md-12 .main .main-right .row {
      margin-left: 0px;
      margin-right: -15px; } }
@media only screen and (min-width: 1370px) {
  /*#content{
  	.container{
  		width: 980px;
  	}
  }*/ }
@media only screen and (min-width: 1500px) {
  #content .container, footer .container {
    width: 1141px; }

  .hooks {
    width: 300px; }
    .hooks .list-item a {
      padding-left: 65px; }
    .hooks .list-item > li ul a {
      padding-left: 80px; }
    .hooks img {
      margin-left: 65px; }
    .hooks .placeholder img {
      width: 100%;
      min-width: 300px;
      margin: 0; } }
@media only screen and (max-width: 767px) {
  footer .social-icon {
    padding: 30px 0 0; }
  footer .info {
    padding-top: 10px; } }

/*# sourceMappingURL=style.css.map */
