
.tabs-menu {
    height: 40px;
    clear: both;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #fff;
    list-style: none;
}
.tabs-menu li:hover{
    background: #eee;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
    background: #eee;
}

.tabs-menu li a {
    padding: 10px;
    color: #888;
    text-decoration: none;
    font-size: 12px;
}


.tabs-menu .current a {
    color: #888;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: 99%;
}

.tab-content {
    width: 100%;
    padding: 20px;
    display: none;
}

#tab-1 {
    display: block;
}
.item-galary-warpper{
    width: 100px;
    float:left;
    margin-right: 10px;
    margin-left: 10px;
    border: 1px solid #6f9dbd;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
    height: 125px;
}

/*.choose-gallary{*/
    /*position: absolute;*/
    /*bottom:3px;*/
    /*right: 0px;*/
/*}*/
.post-form-article{
    position: relative;
    padding: 20px 20px;
    width: 100%;
}
.post-button {
    position: absolute;
    right: -14px;
    top: -70px;
    background: rgba(153,153,153,0.102);
    font-size: 13px;
    border: 1px solid rgba(153,153,153,0.102);
    color: #666;
    padding: 9px;
    text-transform: uppercase;
}
.dz-image-preview{
    position: relative;
}
.dropzone .dz-preview .dz-remove {
    background: url(../images/close.png) no-repeat center;
    line-height: 24px;
    content: '';
    font-size: 0px!important;
    top: 5px;
    right: 5px;
    z-index: 100;
}
.dropzone .dz-message{
    border: 1px dashed #6f9dbd;
    padding-top: 30px;
    padding-bottom: 30px;
    background: url('../images/upload.png') no-repeat 10% 40%;
    color: #888;
}
.video{
    height: 25px;
}
.video-text{
    margin-top: 20px;
}
input[type="text"], textarea, input[type="password"]{
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc!important;
}
.category{
    margin-top: 10px;
}
#tabs-container{
display: block;
}

#colorbox_inline{
    display: none;
}
textarea.comment-comment{
    height: 35px;
    padding: 5px;
    width: 78%;
}
#cboxLoadedContent #colorbox_inline{
    display: block;
}

.icon-photo {
    background-image: url(../images/icons-3.png);
    background-position: -68px -118px;
}
.icon-video {
    background: url(../images/icons-3.png) no-repeat -20px -136px;
}
.icon {
    width: 16px;
    height: 16px;
    /*background: url(../images/icons.png) top left no-repeat;*/
    display: inline-block;
    margin-right: 4px;
    vertical-align: middle;
}
span.notice{
    font-size: 11px;
    color: #7a828b;
    padding-top: 15px;
}
.post-form-article textarea, .post-form-article input[type="text"]{
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}
.nice-select{
    color: #888;
}

.post_bottom{
    border: none;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.3);
    cursor: pointer;
    display: inline-block;
    height: 56px;
    outline: none;
    position: fixed;
    text-align: center;
    width: 56px;
    z-index: 999999;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    bottom: 16px;
    right: 16px;
    /*background-color: #48649f;*/
    background: url("../images/post-icon.png") no-repeat center #48649f;
}
#block-artline-artline-post{
    display: none;
}
.post-article-click{
    cursor: pointer;
    z-index: 900;
}
#content .col-md-12 .banner, #content .col-lg-12 .banner {
    margin-top: 21px!important;
}
#block-artline-post-block{
    width: 100%;
    float:left;
}
.field-name-field-video .field-label{
    display: none;
}
.video-article iframe{
    width: 370px!important;
}
li.my-post a{
    font-weight: bolder;
}
.pink{
    display: block!important;
    font-size: 31px!important;
}
.fa-heart-o{
    font-size: 31px!important;
    color:#f2786c;
}
i.count-like{
    color: #999;
    font-weight: normal;
    font-size: 10px;
    float: left;
    margin-top: -43px;
    margin-left: 13px;
}
.pager--infinite-scroll{
    display: none!important;
}
.panels-flexible-1 {
    width: auto;
    display: none;
}
.block h2{
    display: none;
}
#name-and-slogan{
    display: none;
}
i.count-comment{
    color: #999;
    font-weight: normal;
    font-size: 10px;
    float: left;
    margin-top: -71px;
    margin-left: 13px;
}
.fa-heart-o:before {
    position: relative;
    top: 5px;
}
/*#content .col-md-6 {*/
    /*max-height: 600px;*/
/*}*/
.category-article{
    margin: 10px;
    font-weight: bold;
}
.description{
    margin: 10px;
    padding-top: 15px;

}
div.error{
    background-image: none!important;
}
textarea.error, text.error{
    border: 1px solid red!important;
}
.comment-box{
    padding-left: 20px;
    margin-top: 10px;
}
.submit-comment{
    padding: 7px 10px;
    /* margin-left: 10px; */
    float: right;
    margin-right: 13px;
}
.artline-comment{
    margin-top: 20px;
    padding: 5px;
}
.title-comment{
    margin-left: 20px;
}
.title-comment span{
    color:#999;
    font-weight: 500;
}
input.name-comment{
    margin-left:20px;
    margin-top: 10px;
}
input.name-comment.error{
    border: 1px solid red!important;
}
.artline-comment{
    position: relative;
    z-index: 1;
}
.loading-comment{
    position: absolute;
    background-color: #000;
    width: 98%;
    height: 100%;
    text-align: center;
    z-index: 900;
    opacity: 0.2;
    display: none;
}
.loading-comment img{
    margin-top: -26px;
}
#content .col-md-12 .main .news span.datetime{

    height: 25px;
    width: 130px;
    position: absolute;
    top: 20px;
    right: 40px;
    background: none;
    cursor: pointer;
    transition: all .2s ease-in;
    font-size: 12px;
    color: #999;
}
#content .col-md-12 .main .news span.datetime:hover{
    background: none;
}
.comment-page-wrapper{
    margin-top: 20px;
    padding: 5px;
    margin-left: 15px;
    position: relative;
    z-index: 2;
}
.post .article-comment{
    display: none;
}
.node-detail .post .article-comment{
    display: block;
}
.node-type-article #block-system-main{
}
fieldset#edit-timezone{
    display: none;
}

.comment-item{
    float: left;
    margin-bottom: 15px;
    width: 100%;
    cursor: pointer;
}
.comment-item img {
    width: 25px;
    height: 25px;
    border-radius: 25px;
}
.avatar-comment{
    float: left;
    margin-right: 10px;
    min-width: 20%;
}
.comment-content{
    float: left;
    margin-top: 3px;
    max-width: 68%;
    font-size: 12px;
}
.article-comment{
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    padding-top: 15px;
}
.reply-comment-child .comment-page-wrapper{
    margin-left: 43px;
    margin-top: 5px;
}
.reply-comment-child .comment-page-wrapper .comment-item{
    margin-bottom: 5px;
}
span.reply-form{
    float: left;
    margin-right: 11px;
    color: #336699;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-left: 36px;
    margin-top: -4px;
}
.comment-box input.submit-comment-reply{
    padding: 0 5px;
    /* margin-left: 5px; */
    /* margin-top: -10px; */
    float: right;
    margin-right: 60px;
}
.comment-comment-reply{
    font-size: 12px;
    padding: 1px 10px;

}
.artline-comment-reply{
    display: none;
}
.nav.navbar-nav.navbar-right{
    padding-top: 8px;
}
.not-logged-in .nav.navbar-nav.navbar-right{
    padding-top: 8px;
    width: 220px;
}
.navbar-right span img {
    width: 30px!important;
    height: 30px!important;
    border-radius: 25px;
    margin-top: 5px;
}
.navbar-form{
    margin-top: 5px!important;
}
.navbar-default .navbar-form .form-control {
    width: 100%;
    background: #1b88c1;
    border: none;
    height: 27px!important;
}
.artline-comment-reply .loading-comment {
    position: absolute;
    background-color: #000;
    width: 88%;
    height: 74px;
    text-align: center;
    z-index: 9999;
    opacity: 0.2;
    display: none;
    margin-top: -28px;
}
.artline-comment-reply .loading-comment img {
    margin-top: -12px;
    width: 100px!important;
    height: 100px!important;
}
ul.primary {
    border-bottom: 0;
    float: left;
    clear: both;
    font-size: 0.923em;
    height: auto;
    margin: 0;
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    background: #ebebeb;
    display: table;
}
ul.tabs.primary{
    margin: 15px 0 30px 0;
}
ul.tabs.primary li{
   padding: 10px;

}
ul.tabs.primary li a, ul.tabs.primary li a.active, ul.tabs.primary li a:hover{
    padding: 15px;
}
div.form-item.form-item-pass{
    margin-top: 15px;
}
input[type="submit"]{
    background: #48649f;
    padding: 5px 10px;
    color: #fff;
}
div.field-type-text{
    margin-top: 10px;
}
#user-login-form{
     margin-top: 20px;
 }
#user-login-form label{
    width: 37%;
}
#user-login-form input[type="text"], #user-login-form input[type="password"]{
    width: 85%;
    margin-top: 10px;
}
#user-login-form .item-list{
    margin-top: 20px;
}

div.ctools-modal-content {
    background: none!important;
    color: #000;
    padding: 0;
    margin: 2px;
    border: 0!important;
    width: 500px;
    text-align: left;
}
div.ctools-modal-content .modal-content {
    padding: 1em 1em 0 1em;
    overflow: auto;
    position: relative;
    top: -10px;
}
div.ctools-modal-content .modal-header {
    background-color: #2385c2;
    padding: 10px!important;
    width: 499px;
    margin-left: 1px;
    border-radius: 5px;
}
#modalContent{
    width: 500px!important;
}
#modal-content{
    width: 500px!important;
}
ul.store{
    clear: both;
}
ul.store li{
    padding: 10px;
    margin-bottom: 10px;
    background: #eee;
}
.name-store{
    width:100%;
    margin-bottom: 10px;
}
span.detail-store{
    width: 100%;
    display: none;
}

.gsc-control-cse {
    font-family: Arial, sans-serif;
     border:0;
     background:none;
    /*width: 60%!important;*/
    float: left!important;
    padding: 0!important;
}
.gsc-search-box-tools .gsc-search-box .gsc-input input {
    width: 480px!important;
    background: #1b88c1!important;
    border: none!important;
    height: 45px!important;
    color: #fff!important;
    padding-left: 40px!important;
    margin-top: -16px!important;
    margin-left: 30px!important;
    border-radius: 10px;
}
.gsc-search-box .gsc-input>input:focus,
.gsc-input-box-focus {
    border: 0!important;
    -moz-box-shadow: none!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
    outline: none;
}


.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
    background: transparent;
    position: absolute;
    top: 13px;
    left: 75%;
    height: 45px;
    width: auto;
    border: none;
    color: #fff;
}
.gsc-search-button.gsc-search-button-v2{
    background: transparent;
    position: absolute;
    top: 13px;
    left: 75%;
    height: 45px;
    width: auto;
    border: none;
    color: #fff;
}
.cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2 {
     width: auto!important;
    height: 29px!important;
    padding: 6px 27px;
    min-width: 13px;
    margin-top: 2px;
    background: none!important;
    margin-left: -40px;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    border: 0!important;
    background: none!important;
    background-image: none;
    filter: none;
    margin-left: -205px!important;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus {
    border: 0!important;
    box-shadow: none!important;
}
.gsc-input-box {
    border: 0!important;
    background: none!important;
    /*height: 25px;*/
    margin-left: 20px;
}
.gsc-control-cse div {
    position: relative;
    width: 130%;
}
.cse .gsc-control-cse, .gsc-control-cse {
    background: none!important;
    border: 0!important;
}
.gsc-search-box {
    margin-left: -15px;
    margin-right: -15px;
    padding: 10px 15px;
    border-top: 0!important;
    border-bottom: 0!important;
    box-shadow: none;
    margin-top: 8px;
    margin-bottom: 8px;
}
.share-item{
    /* margin-top: 5px; */
    /* margin-left: 20px; */
    position: absolute;
    background: #ccc;
    padding: 5px;
    margin-top: -92px;
    left: 28px;
    z-index: 99999;
}
input[type="text"].share-link{
    padding: 5px!important;
    width: 68%!important;
}
.admin-dashboard-back{
    position: fixed;
    z-index: 999999;
    left: 10px;
    bottom: 10px;
    width: 153px;
    padding: 10px 5px;
    background: #48649f;
}
.admin-dashboard-back a{
    color: #fff;
    text-decoration: none;
}
.share-link{
    position: absolute;
    right: 50px;
    background: #e4e4e4;
    top: 11px;
    z-index: 99999;
    font-size: 11px;
    color: #999;
}
.navbar-form input[type="text"]{
    border: 0!important;
}
#location-selector{
    margin-bottom: 20px;
}
.location{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
ul.store .location{
    display: none;
}
ul.store h2{
    font-size: 18px;
}
.edit-content{
    position: absolute;
    right: 21px;
    color: #999;
    font-size: 12px;
    margin-top: -15px;
}
.edit-content a{
    color: #999;
}
.loading-post{
    position: absolute;
    background-color: #000;
    width: 88%;
    height: 74px;
    text-align: center;
    z-index: 9999;
    opacity: 0.2;
    display: none;
    margin-top: -28px;
}
.loading-post-post{
    position: absolute;
    background-color: #000;
    width: 94%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    opacity: 0.2;
    display: none;
}
.loading-post-post-append{
    position: absolute;
    background-color: #000;
    width: 94%;
    height: 100%;
    text-align: center;
    z-index: 9999;
    opacity: 0.2;
    display: none;
}
.loading-post-post img{
    top: 33%;
    position: absolute;
    z-index: 9999;
    left: 34%;
}
.description input[type="submit"]{
    float: right;
    margin-top: 10px;
    padding: 3px;
}
.post-edit-article{
    display: none;
}

.post-edit-article textarea{
    width: 77%;
}
.sidebar-bottom{
    text-align: center;
    border-top: 1px solid #e4e4e4;
    padding-top: 10px;
    margin-top: 10px;
}
.hooks img{
    margin-left: 0px!important;
}
.logo-chungnhan{
    margin-bottom: 10px;
}
#user-register-form .description{
    display: none!important;
}
ul.pager-show-more{
display: none;
}

#block-artline-artline-category ul li ul{
    display: none;
}
#block-artline-artline-category ul li.active ul{
    display:block;
}


.a2a_s_facebook {
    background: url("../images/icon-face.png") no-repeat;
}
.a2a_s_twitter {
    background: url("../images/twitter-icon.png") no-repeat;
}
.a2a_s_google_plus {
    background: url("../images/google-plus-icon.png") no-repeat;
}
.node-detail{
    position: relative;
    left: 19%;
    z-index: 9999999;
}
.overlay-node{
    position: absolute;
    background: #000!important;
    z-index: 20;
}
.node-detail{
    position: relative;
    left: 19%;
    z-index: 9999;
}
p.comment-login{
    margin-left: 20px;
}
p.comment-login a{
    color:#999;
    text-decoration: none;
}
.navbar-fixed-top, .navbar-fixed-bottom{
    height: 40px;
}
.navbar{
    min-height: 0px!important;
}

.hide-menu{
    float: left;
    font-size: 25px;
    color: #fff;
    font-weight: 100;
    line-height: 100%;
    margin-top: 5px!important;
    margin-left: 10px;
    cursor: pointer;
}
.navbar-brand {
    float: left;
    padding: 0px 15px!important;
    font-size: 18px;
    line-height: 20px;
    height: 40px;
}
.navbar-default .btn-default {
    top: -7px!important;
    left: 0px;
}
.navbar-header{
    height: 30px!important;
}
.bs-example-navbar-collapse-1{
    height: 30px!important;
}
.navbar-brand{
    height: 30px!important;
}
.loading-view{
    position: relative;
    top: -30px;
    left: 49%;
    display: none;

}
.loading-view img{
    cursor: pointer;
}
body.article-overview {
    padding-top: 94px;
    background: #000;
    position: absolute;
    width: 100%;
    z-index: 99999;
}
.node-overview{
    margin-top: 50px;
    left:12%;
}
.close-node {
    position: absolute;
    right: -16px;
    top: -23px;
}
.name-comment-user{
    color: #999;
    font-size: 12px;
}
#content .col-md-12 .main .carousel-indicators li img, #content .col-lg-12 .main .carousel-indicators li img{
    width: 100%;
    height: 40px!important;
}
#content .col-md-12 .main .carousel-indicators li {
    width: 12% !important;
    display: inline-block;
    float: left;
}
.social_login{
    margin: 10px 0 10px 0!important;
    height: 55px;
    overflow: hidden;
}
.close-comment{
    float: right;
    margin-right: 20px;
    cursor: pointer;
}
.close-comment:hover{
    color:#000;
}
.navbar-toggle .fa{
    display: none;
}
.category ul.list, .location ul.list{
    height: 215px;
    overflow: scroll;
}
#content .col-md-12 .main .carousel-indicators, #content .col-lg-12 .main .carousel-indicators {
    bottom: -50px!important;
}
.carousel-inner{
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.09);
}

div.post-form.pinto:nth-of-type(2){
    display: none;
}

ul#view-content-ajax li{
    list-style: none!important;
}
ul#view-content-ajax .col-md-12 {
    margin: 10px 0;
    padding: 0px 15px!important;
}
footer{
    margin-top: 30px;
}

span.close-form {
    float: left;
    margin-right: 11px;
    color: #336699;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-left: 5px;
    margin-top: -4px;
}
.hooks {
    top: 47px!important;
    background: #ccc;
}
.hooks .left-bar {
    padding: 0px 0px 30px 0px!important;
}
.hooks .list-item a {
    position: relative;
    display: block;
    padding: 3px 0 3px 45px!important;
    color: #000;
}
#content .col-md-12 .main .carousel-indicators {
    padding-bottom: 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.page-my-posts h1.title{
    display: none;
}
.gsc-tabhActive{
    display: none!important;
}
.gsc-tabHeader.gsc-tabhInactive {
    display: none;
}
td .field-type-taxonomy-term-reference{
    width: 25%;
    float: left;
    margin-top: 10px;
    margin-bottom: 0px!important;
}
.field-name-field-link{
    width: 33%;
    float: left;
}
.field-name-field-link input{
    width: 300px;
}
.field-name-field-link-title{
    width: 30%;
    float: left;
    margin-left: 5px;
}
.field-name-field-link-title input{
    width: 300px;
}
#field-store-link-values .form-submit{
    float: left;
    margin-top: 41px;
    margin-left: 30px;
}
.xu{
    margin-top: 10px;
    padding: 5px;
    background: #1b88c1;
    width: 90%;
    margin-left: 5%;
    text-align: center;
}
.xu a{
    color: #fff;
    text-decoration: none;
}
.xu a:hover{
    color: #fff;
    text-decoration: none;
}
.dropzone .dz-preview {
    margin-right: 2px!important;
    width: 88px;
}
.dropzone .dz-preview img {
    width: 88px;
}
footer .info {
    padding: 9px 0 2px!important;
}
#content .col-md-12 .main .more span.readmore-article, #content .col-lg-12 .main .more span.readmore-article {
    width: initial;
    height: initial;
    border-radius: 0px;
    padding: 3px 5px;
    background: #e8e8e8;
}
footer .social-icon a {
    width: 50px;
    height: 50px;
    border-radius: 29px;
    font-size: 25px;
    display: inline-block;
    background: #76787c;
    margin-right: 10px;
    color: #2a2d32;
    line-height: 48px;
    margin-bottom: 0px!important;
}
footer .info {
    padding: 9px 0 2px!important;
}
footer .social-icon {
    text-align: center;
    padding: 5px 0!important;
}

.node-type-article .video-article iframe {
    width: 100%!important;
}

#content .container, footer .container {
    width: 100%!important;
}

.change {
    position: relative;
    left: 0px!important;
    transition: all .4s ease;
}

#content .col-md-12 .banner p {
    padding: 3px 0px 2px 13px!important;
    font-size: 18px!important;
}

label {
    display: block!important;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.xu-point{
    margin-right: 6px;
    margin-left: 5px;
    display: block;
    background: url(../images/cup.png) no-repeat left center;
    width: 60px;
    height: 30px;
    padding-top: 12px;
    color: #e9c418;
    font-size: 12px;
    padding-left: 20px;
}
.xu-alert-info{
    font-size: 70px;
    font-weight: bold;
    color: #e9c418;
    position: absolute;
    top: -50%;
    z-index: 99999;
}

.xu-alert-info-run{
    font-size: 70px;
    font-weight: bold;
    color: #e9c418;
    position: absolute;
    z-index: 99999;
    left:47%;
}

.navbar-right li:first-child {
    border-right: 1px solid #fff;
    text-align: center;
}
.form-actions.form-wrapper{
    width: 100%;
    clear: both;
}
.dz-filename{
    display: none;
}
#artline-product-update .form-type-radio.form-item-product{
    width: 45%;
    float: left;
    margin-left: 10px;
}
#artline-product-update .form-item-product input.form-radio{
    float: left;
    margin: 5px 10px 0 0;
    padding-top: 10px
}

.product-submit{
    clear: both;
    margin-top: 20px;
    width: 100%;
    padding-top: 20px;
}
#artline-product-update .form-type-radios.form-item-product{
    margin-bottom: 20px;
}
.image-product img{
    border: 1px solid #aaa;
}
.product-name{
    font-size: 16px;
    font-weight: bold;
}
.info-product{
    padding-left: 25px;
}
.product-color {
    margin-top: 20px;
}

.product-color span.color{
    height: 30px;
    width: 30px;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}
.product-price{
    margin-top: 15px;
    font-weight: bold;
    color:#AA0000;
    font-size: 18px;
}
.pointer {
    color:#e9c418;
    font-weight: bold;
    font-size: 18px;
    margin-top: 5px;
}
.product-wrapper{
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 0.4);
    padding-bottom: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
}
#artline-product-gif-change .form-item label {
    width: 100%;
    float: none;
    margin-bottom: 10px;
    margin-top: 20px;
}

#artline-product-gif-change .nice-select {
    float: none;
    width: auto;
    max-width: 60%;
}
.form-item-notice{
    margin-bottom: 20px;
}
.notice-alert{
    margin-top: 15px;
    font-style: italic;
}
.color-qty{
    width: 60px;
    float: left;
    height: 100px;
    text-align: center;
}
#artline-product-gif-change .form-item label {
    width: 15em;
    float: none!important;
    margin-bottom: 10px;
}
#artline-product-gif-change .form-item-name,
#artline-product-gif-change .form-item-telephone,
#artline-product-gif-change .form-item-address{
    display: none;

}
#artline-product-gif-change input[type="text"]{
    max-width: 100%;
}
.xu-point-alert{
    position: absolute!important;
    font-size: 70px;
    font-weight: bold;
    color: #e9c418;
    left: -33px;
    top: -32px!important;
    z-index: 99;
    width: 130px!important;
    height: 110px!important;
    display: none;
}
.navbar-right span.xu-point-alert img{
    width: 130px!important;
    height: 110px!important;
}
#user-register-form div#edit-actions.form-actions.form-wrapper{
    text-align: center;
}
#user-register-form #google_recaptcha_user_register_form div{
    width: auto!important;
    height: auto!important;
}
div.info-point {
    float: left;
    position: fixed;
    top: 3px;
    z-index: 1999;
    right: 21%;
}

@media only screen and (min-width: 768px){
    #content .col-md-12 .main .slide {
        margin-bottom: 50px!important;
    }

}

@media only screen and (min-width: 1200px){
    .navbar-default > .container-fluid .navbar-brand {
        font-size: 18px!important;
    }
}
@media only screen and (max-width: 1200px){
    .gsc-search-box-tools .gsc-search-box .gsc-input input {
        width: 406px!important;
        background: #1b88c1!important;
        border: none!important;
        height: 45px!important;
        color: #fff!important;
        padding-left: 40px!important;
        margin-top: -16px!important;
        margin-left: 30px!important;
        border-radius: 10px;
    }
    .gsc-search-button.gsc-search-button-v2{
        background: transparent;
        position: absolute;
        top: 13px;
        left: 80%;
        height: 45px;
        width: auto;
        border: none;
        color: #fff;
    }
}
@media only screen and (max-width: 1024px) and (min-width:768px){
    .edit-content {
        top: 530px;
    }
    .node-detail{
        position: relative;
        left: 0%;
        z-index: 9999;
    }
    .navbar-default > .container-fluid .navbar-brand {
        font-size: 18px!important;
        margin: 7px 2px;
    }
    #content .col-md-12 .main .more span:last-of-type {
        text-align: center;
        font-size: 0!important;
        width: 35px!important;
        top: 13px!important;
        margin-top: 0!important;
    }
    div.info-point {
        float: left;
        position: fixed;
        top: 3px;
        z-index: 1999;
        right: 30%;
    }
}
/*mobile*/
@media only screen and (max-width: 756px) {
    .post-form-article {
        position: relative;
        padding: 20px 20px;
        width: 109%!important;
    }
    .gsc-control-cse {
        width: 32%!important;
    }
    .node-detail{
        position: relative;
        left: 0%;
        z-index: 9999;
    }
    #tabs-container {
        display: block;
        width: 88%!important;
    }
    div.ctools-modal-content .modal-header {
        background-color: #2385c2;
        padding: 10px!important;
        width: 299px;
        margin-left: 1px;
        border-radius: 5px;
    }
    #modalContent{
        width: 300px!important;
    }
    #modal-content{
        width: 300px!important;
        min-height: 200px;
        height: auto!important;
    }
    .tab {
        border: 1px solid #d4d4d1;
        background-color: #fff;
        float: left;
        margin-bottom: 20px;
        width: 99%!important;
    }
    .tab-content {
        width: 100%!important;
    }
    .post-button {
        right: 8px!important;
    }
    span.notice {
        font-size: 9px;
        color: #7a828b;
        padding-top: 15px;
    }
    .post-form-article textarea{
        height: 100px!important;
    }
    .video-article iframe {
        width: 100%!important;
    }

    .navbar-default .navbar-toggle span:last-of-type {
        top: -17px!important;
        right: -15px;
    }
    .navbar-default > .container-fluid .navbar-brand {
        font-size: 12px!important;
        margin: 7px 2px;
    }
    .navbar-collapse.collapse{
        width: 100%;
        background: #336699;
        margin-left: 0px!important;
        margin-top: 0px;
        position: relative;
        top: -21px;

    }
    .navbar-default .btn-default {
        top: 3px!important;
    }
    .nav.navbar-nav.navbar-right {
        padding-top: 0px;
        margin-top: -13px;
        padding-bottom: 10px;
    }
    .navbar-default .navbar-toggle span:last-of-type img {
        width: 30px!important;
        height: 30px!important;
        border-radius: 25px;
        margin-top: -8px;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: 0;
    }
    .navbar-toggle .fa {
        display: inline-block!important;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 22px;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        margin-right: 10px;
        color: #fff;
        margin-top: 9px;
    }
    .loading-view {
        left: 44%!important;
    }
    .search-form input {
        margin-top: 10px;
        margin-bottom: 0;
    }
    textarea.comment-comment {
        width: 71%;
    }
    #content .col-md-12 .main .news span.datetime {
        height: 25px;
        width: 130px;
        position: absolute;
        top: 62px!important;
        right: -24px!important;
        background: none;
        cursor: pointer;
        transition: all .2s ease-in;
        font-size: 11px!important;
        color: #999;
    }
    #content .col-md-12 .main .more, #content .col-lg-12 .main .more{
        padding-left: 5px!important;
    }
    span.share-post{
        text-align: center;
    }
    #content .col-md-12 .main .more {
        padding-bottom: 0px;
        text-align: left!important;
    }
    span.comment{
        text-align: center;
    }
    #content .col-md-12 .main .more span:last-of-type {
        text-align: center;
        font-size: 0!important;
        width: 35px!important;
        top: 13px!important;
        margin-top: 0!important;
    }

    .dropzone .dz-preview {
        margin-right: 5px!important;

    }
    #content .col-md-12 .banner {
        margin-right: 5px;
        margin-top: 41px!important;
    }

        .navbar-right li:last-of-type {
            display: inline-block!important;
        }
    .navbar-right span {
        display: none;
    }
    .navbar-default .navbar-form .form-control {
        width: 100%;
        background: #1b88c1;
        border: none;
        height: 45px;
        color: #fff;
        padding-left: 25px;
    }
    .navbar-default .btn-default {
        left: 9px;
    }
    div.info-point span.xu-point{
       display: block;
    }
    div.info-point {
        float: left;
        position: fixed;
        top: 5px;
        z-index: 1999;
        right: 65px;
    }
    div.info-point{
        float: left;
    }

    #content .col-md-12 .banner p {
        font-size: 15px!important;
    }
    h1, .h1 {
        font-size: 20px!important;
    }
    h4, .h4 {
        font-size: 15px!important;
    }
    .close {
        float: right;
        font-size: 21px;
        font-weight: bold;
        line-height: 1;
        color: #000;
        text-shadow: 0 1px 0 #fff;
        opacity: 1!important;
        filter: alpha(opacity=20);
    }
    #user-login-form .form-item-name{
        display: block!important;
    }
    .form-item-address-info .nice-select{
        max-width: 100%!important;
    }
    #popup-announcement-wrap{
        width: 309px!important;
        height: 300px;
        left: 5px!important;
        top: 134px;
    }
    #user-register-form input[type="text"], #user-login input[type="text"], #user-login input[type="password"]{
        max-width: 90%!important;
    }
}


.navbar-nav.navbar-right li:first-child {
   border-right: 1px solid #fff;
}

#user-login-form .form-item-name{
    display: block!important;
}
.no-show{
    display: none!important;
}
.and-show{
    display: block!important;
}

.form-item-address-info .nice-select{
    max-width: 100%!important;
}
#cboxClose {
    right: 43%!important;
    background: url(../images/icon-close-window.png) no-repeat center!important;
    width: 50px!important;
    height: 50px!important;
}
#popup-announcement a{
    width: 100px;
    padding: 10px 5px;
    background: #48649f;
    color:#fff;
}
#artline-product-update select{
    height: 40px;
    background: #ccc;
    margin-top: 13px;
}
.node-type-page #block-system-main{
    padding: 20px;
}

.page-user h1#page-title{
    margin-top: 60px;
}


